<p-card class="p-4 shadow-lg rounded-lg">
    <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold text-orange-500">Danh sách môn học</h2>
        <p-button label="Nhập" icon="pi pi-upload" class="p-button-warning"></p-button>
    </div>

    <div class="mt-3">
        <p-inputgroup class="w-full">
            <p-button label="Search" />
            <input [(ngModel)]="searchKey" (ngModelChange)="onSearchChange($event)" pInputText placeholder="Keyword" />
        </p-inputgroup>
    </div>

    <div class="mt-4">
        <p-table #dt [value]="subjects" [rows]="pageSize" [paginator]="true" [totalRecords]="totalCount" [lazy]="true"
            (onPage)="loadSubjects($event)" [rowHover]="true"
            currentPageReportTemplate="Hiện {first} tới {last} của {totalRecords} môn học"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" class="w-full">

            <ng-template pTemplate="header">
                <tr>
                    <th>Mã Môn</th>
                    <th>Tên môn</th>
                    <th>Tên Môn (Tiếng Anh)</th>
                    <th>Mã môn trước đó</th>
                    <th>Is Constructivist</th>
                    <th>Phương pháp</th>
                    <th>Thời lượng</th>
                    <th>Thực tế</th>
                    <th>Hành động</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-subject let-i="rowIndex">
                <tr>
                    <td>{{ subject.subjectCode }}</td>
                    <td>{{ subject.subjectName }}</td>
                    <td>{{ subject.subjectNameEnglish }}</td>
                    <td>{{ subject.previousCode || '-' }}</td>
                    <td>
                        <p-tag [value]="getTagValue(subject.isConstructivist)"
                            [severity]="subject.isConstructivist ? 'success' : 'danger'"></p-tag>
                    </td>
                    <td>{{ subject.method }}</td>
                    <td>{{ subject.duration }}</td>
                    <td>{{ subject.reality }}</td>
                    <td>
                        <p-button label="Xóa" class="p-button-text p-button-sm p-button-danger"
                            (click)="deleteSubject(i)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>