<p-card>
    <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold text-orange-500">Đơn vị bảng tính giá trị hợp đồng</h2>
        <div class="flex gap-2">
            <p-button label="Lưu" class="p-button-warning" icon="pi pi-save" (click)="updateContractValue()"></p-button>
            <p-button label="Thêm" class="p-button-warning" icon="pi pi-plus" (click)="showAddDialog()"></p-button>
        </div>
    </div>

    <div class="mt-4">
        <p-table #dt [value]="contractValues" [paginator]="false" [lazy]="true" [rowHover]="true" class="w-full"
            *ngIf="contractValues && contractValues.length > 0; else noDataTemplate">
            <ng-template pTemplate="header">
                <tr>
                    <th>Hạng mục</th>
                    <th>Đơn vị tính</th>
                    <th>Tỷ lệ chuẩn</th>
                    <th>Giá trị hợp đồng</th>
                    <th>Yêu cầu chất lượng</th>
                    <th>Xóa</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText [(ngModel)]="item.category" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.category }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText [(ngModel)]="item.measurementUnit" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.measurementUnit }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="item.standardRate" [minFractionDigits]="1"
                                    [maxFractionDigits]="2" mode="decimal"></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <p-tag [value]="item.standardRate" severity="info"></p-tag>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="item.contractValue" [mode]="'currency'" currency="VND"
                                    locale="vi-VN" [minFractionDigits]="0"></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.contractValue | currency:'VND':'symbol':'1.0-0':'vi-VN' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <textarea pTextarea [(ngModel)]="item.qualityRequirements" autoResize="false" rows="5"
                                    cols="30" style="width: 100%;">
                                </textarea>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.qualityRequirements }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-button icon="pi pi-trash" outlined (click)="deleteContractValue(item)"
                            [disabled]="isLoading"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template #noDataTemplate>
            <div class="text-center text-gray-500 p-4">
                Không tìm thấy dữ liệu
            </div>
        </ng-template>
    </div>
</p-card>

<p-dialog header="Thêm đơn vị" [(visible)]="displayAddDialog" [modal]="true" [closable]="true"
    [style]="{width: '50vw', 'min-height': '300px'}">
    <div class="p-fluid">
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label class="block font-semibold text-orange-500">Danh mục <span class="text-red-500">*</span></label>
                <input id="category" [(ngModel)]="newContractValue.category"
                    class="w-full p-2 border border-gray-300 rounded" placeholder="Điền danh mục" pInputText />
            </div>

            <div class="flex gap-4">
                <div class="flex flex-col gap-2 w-1/2">
                    <label class="block font-semibold text-orange-500">Đơn vị đo lường <span
                            class="text-red-500">*</span></label>
                    <input id="measurementUnit" [(ngModel)]="newContractValue.measurementUnit"
                        class="w-full p-2 border border-gray-300 rounded" placeholder="Điền đơn vị đo lường" pInputText />
                </div>

                <div class="flex flex-col gap-2 w-1/2">
                    <label class="block font-semibold text-orange-500">Tỷ lệ chuẩn <span
                            class="text-red-500">*</span></label>
                    <input id="standardRate" [(ngModel)]="newContractValue.standardRate"
                        class="w-full p-2 border border-gray-300 rounded" placeholder="Điền tỷ lệ chuẩn" pInputText type="text" />
                </div>
            </div>

            <div class="flex flex-col gap-2">
                <label class="block font-semibold text-orange-500">Giá trị hợp đồng <span
                        class="text-red-500">*</span></label>
                <p-inputNumber id="contractValue" [(ngModel)]="newContractValue.contractValue" type="text"
                    mode="currency" currency="VND" locale="vi-VN" placeholder="Nhập giá trị" [min]="0"
                    [max]="100000000" />
            </div>

            <div class="flex flex-col gap-2">
                <label class="block font-semibold text-orange-500">Yêu cầu chất lượng <span
                        class="text-red-500">*</span></label>
                <textarea id="qualityRequirements" [(ngModel)]="newContractValue.qualityRequirements"
                    class="w-full p-2 border border-gray-300 rounded" placeholder="Điền yêu cầu chất lượng" pTextarea></textarea>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
            <p-button label="Hủy" icon="pi pi-times" (click)="closeAddDialog()" outlined></p-button>
            <p-button label="Lưu" icon="pi pi-check" (click)="saveContractValue()"></p-button>
        </div>
    </ng-template>
</p-dialog>



<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="isLoading" class="overlay-spinner">
    <p-progressSpinner></p-progressSpinner>
</div>