<p-card>
    <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold text-orange-500">Lịch sử thay đổi</h2>
        <p-button label="Thêm" class="p-button-warning" (click)="openAddDialog()"></p-button>
    </div>

    <div class="mt-3">
        <p-inputGroup class="w-full">
            <p-button label="Tìm kiếm" (click)="loadHistory()" />
            <input [(ngModel)]="searchKey" (ngModelChange)="onSearchChange($event)" pInputText placeholder="Từ khóa" />
        </p-inputGroup>
    </div>

    <div class="mt-4">
        <p-table [value]="historyList" [rows]="pageSize" [paginator]="true" [totalRecords]="totalCount" [lazy]="true"
            (onPage)="loadHistory($event)"
            currentPageReportTemplate="Hiển thị {first} - {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [first]="(pageIndex - 1) * pageSize"
            class="w-full" *ngIf="historyList && historyList.length > 0; else noDataTemplate">
            <ng-template pTemplate="header">
                <tr>
                    <th>Mã môn</th>
                    <th>Loại thay đổi</th>
                    <th>Ngày hoàn thành</th>
                    <th class="text-center">Kỳ bắt đầu áp dụng</th>
                    <th style="display: flex; justify-content: center;">Hành động</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.courseCode }}</td>
                    <td>{{ item.changeType }}</td>
                    <td>{{ item.completionDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.startTerm }}</td>
                    <td class="p-2 flex justify-center gap-2">
                        <p-button label="Chi tiết" outlined severity="info"
                            (click)="showDetail(item.historyId)"></p-button>
                        <p-button label="Sửa" outlined (click)="openAddDialog(item.historyId)"></p-button>
                        <p-button label="Xóa" outlined severity="danger"
                            (click)="confirmDelete(item.historyId)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <ng-template #noDataTemplate>
        <p class="text-center text-gray-500 mt-4">Không có dữ liệu.</p>
    </ng-template>

    <p-confirmDialog></p-confirmDialog>
    <p-dialog [(visible)]="displayDetailDialog" [modal]="true" [closable]="true" header="Chi tiết lịch sử thay đổi"
        [style]="{ width: '580px', height: '630px', 'border-radius': '8px' }">
        <ng-template pTemplate="content">
            <section class="p-8 w-full bg-white rounded-xl" *ngIf="newHistory">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6"> <!-- Adjust grid layout -->
                    <div class="flex flex-col gap-2">
                        <label class="block font-semibold text-orange-500">Mã môn</label>
                        <p class="truncate">{{ newHistory.courseCode }}</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block font-semibold text-orange-500">Ngày hoàn thành</label>
                        <p>{{ newHistory.completionDate | date: 'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block font-semibold text-orange-500">Kỳ bắt đầu áp dụng</label>
                        <p>{{ newHistory.startTerm }}</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block font-semibold text-orange-500">Hợp đồng</label>
                        <p>{{ newHistory.contractTitle }}</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block font-semibold text-orange-500">Loại thay đổi</label>
                        <p>{{ newHistory.changeType }}</p>
                    </div>
                    <div class="flex flex-col gap-2 md:col-span-2"> <!-- Make this span across full width -->
                        <label class="block font-semibold text-orange-500">Nội dung thay đổi</label>
                        <p class="whitespace-pre-line">{{ newHistory.changeDescription }}</p>
                    </div>
                </div>
            </section>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="displayAddDialog" [modal]="true" [closable]="true" header="Thêm mới thông tin thay đổi"
        [style]="{ width: '580px', height: '630px', 'border-radius': '8px' }">
        <div class="p-4">
            <div class="flex flex-col md:flex-row gap-8">
                <div class="md:w-1/2 flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label class="text-sm">Mã môn <span class="text-orange-500">*</span></label>
                        <p-select [options]="syllabus" optionLabel="courseCode" [(ngModel)]="newHistory.syllabus"
                            placeholder="Chọn mã môn" [filter]="true" class="w-full">
                        </p-select>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label class="text-sm">Ngày hoàn thành <span class="text-orange-500">*</span></label>
                        <p-datepicker [(ngModel)]="newHistory.completionDate" dateFormat="dd-mm-yy" showIcon="true"
                            placeholder="Ngày hoàn thành" [minDate]="minCompletionDate"
                            [maxDate]="maxCompletionDate"></p-datepicker>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label class="text-sm">Kỳ bắt đầu áp dụng <span class="text-orange-500">*</span></label>
                        <p-autoComplete [(ngModel)]="newHistory.startTerm" [suggestions]="filteredStartTerms"
                            (completeMethod)="filterStartTerm($event)" placeholder="Nhập kỳ học">
                        </p-autoComplete>
                    </div>
                </div>

                <div class="md:w-1/2 flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label class="text-sm">Hợp đồng</label>
                        <p-select [options]="contract" optionLabel="title" optionValue="contractId"
                            [(ngModel)]="newHistory.contractId" placeholder="Hợp đồng" [filter]="true" class="w-full">
                        </p-select>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label class="text-sm">Loại thay đổi <span class="text-orange-500">*</span></label>
                        <p-select [options]="changeTypeOptions" [(ngModel)]="newHistory.changeType"
                            optionLabel="label" optionValue="value" placeholder="Chọn loại thay đổi" class="w-full">
                        </p-select>
                    </div>
                </div>
            </div>

            <div class="mt-4 flex flex-col gap-2">
                <label class="text-sm">Nội dung thay đổi</label>
                <textarea pTextarea [(ngModel)]="newHistory.changeDescription" class="w-full" rows="8" cols="30"
                    placeholder="Nội dung thay đổi"></textarea>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex justify-end gap-2">
                <p-button label="Hủy" (click)="displayAddDialog = false" severity="secondary"></p-button>
                <p-button label="Lưu" (click)="addHistory(newHistory.historyId)" severity="warn"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</p-card>

<p-toast></p-toast>
<div *ngIf="isLoading" class="overlay-spinner">
    <p-progressSpinner></p-progressSpinner>
</div>