<div class="p-4">
  <p-card>
    <h2 class="text-orange-500 font-bold text-lg">Kết Quả Khóa Học</h2>
    <p-table [value]="programLearningOutcomes" class="mt-2">
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Tên </th>
          <th>Mô Tả</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plo>
        <tr>
          <td>{{ plo.no }}</td>
          <td>{{ plo.name }}</td>
          <td>{{ plo.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  
  <p-card class="mt-4">
    <h2 class="text-orange-500 font-bold text-lg">Bản Đồ</h2>
    <p-table [value]="ploMapping" class="mt-2">
      <ng-template pTemplate="header">
        <tr>
          <th>Mã Môn Học</th>
          <th>KQHT 1</th>
          <th>KQHT 2</th>
          <th>KQHT 3</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mapping>
        <tr>
          <td>{{ mapping.subject }}</td>
          <td style="color: orangered;">{{ mapping.plo1 ? '✔' : '' }}</td>
          <td style="color: orangered;">{{ mapping.plo2 ? '✔' : '' }}</td>
          <td style="color: orangered;">{{ mapping.plo3 ? '✔' : '' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>