<div class="p-4">
  <p-card>
    <h2 class="text-orange-500 font-bold text-lg">Kết Quả Khóa Học</h2>
    <p-table [value]="programLearningOutcomes" class="mt-2">
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Tên </th>
          <th>Mô Tả</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plo let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ plo.ploName }}</td>
          <td>{{ plo.ploDescription }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-card class="mt-4">
    <h2 class="text-orange-500 font-bold text-lg">Bản Đồ PLO</h2>
    <p-table class="w-full" [value]="uniqueSubjects">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th *ngFor="let plo of programLearningOutcomes">{{ plo.ploName }}</th>
        </tr>
      </ng-template>
    
      <ng-template pTemplate="body" let-subjectCode>
        <tr>
          <td>{{ subjectCode }}</td>
          <td *ngFor="let plo of programLearningOutcomes" style="color: orangered;">
            <span *ngIf="isSubjectInPLO(plo, subjectCode)" style="display: flex; justify-content: center;">✔</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>