<p-dialog [(visible)]="displayAddDialog" [header]="isDetail ? 'Chi tiết học liệu' : 'Thêm/Sửa học liệu'" [modal]="true" [draggable]="false"
    [resizable]="false" (onHide)="closeDialog()">
    <p-tabs [(value)]="tabIndex" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab [value]="0" *ngIf="!SelectedId || isImported || material.learningType">Tài liệu</p-tab>
            <p-tab [value]="1" *ngIf="!SelectedId || (!isImported && !material.learningType)">Giáo Trình</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0"> <!-- Tai lieu -->
                <div class="flex flex-col gap-4">
                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="materialName">Tên tài liệu <span class="text-red-500">*</span></label>
                            <input id="materialName" type="text" pInputText [(ngModel)]="material.materialName"
                                class="w-full" placeholder="Nhập tên tài liệu" [disabled]="isDetail"/>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="purpose">Mục đích</label>
                            <input id="purpose" type="text" pInputText [(ngModel)]="material.purpose" class="w-full"
                                placeholder="Nhập mục đích" [disabled]="isDetail"/>
                        </div>
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="type">Loại <span class="text-red-500">*</span></label>
                            <p-select id="type" [options]="type" [(ngModel)]="material.learningType" optionLabel="name"
                                optionValue="value" placeholder="Chọn loại" class="w-full md:w-56" [disabled]="isDetail">
                            </p-select>
                        </div>
                    </div>
                    <div class="flex flex-row items-center gap-2">
                        <p-checkbox id="isMainMaterial" [(ngModel)]="material.isMainMaterial" value="true" [disabled]="isDetail"></p-checkbox>
                        <label for="isMainMaterial">Là học liệu chính</label>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="url"> URL </label>
                            <input id="url" type="text" pInputText [(ngModel)]="material.url" class="w-full"
                                placeholder="Nhập URL" [disabled]="isDetail"/>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="note"> Ghi chú </label>
                            <textarea id="note" type="text" pTextarea [(ngModel)]="material.note" class="w-full"
                                placeholder="Ghi chú" [disabled]="isDetail"></textarea>
                        </div>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel [value]="1"> <!-- Giao trinh -->
                <div class="flex flex-col gap-4">
                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <div class="flex flex-col gap-2">
                                <label for="materialName">Tên giáo trình <span class="text-red-500">*</span></label>
                                <input id="materialName" type="text" pInputText [(ngModel)]="material.materialName"
                                    name="materialName" class="w-full" placeholder="Nhập tên giáo trình" [disabled]="isDetail"/>
                            </div>
                        </div>
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="type">Loại giáo trình <span class="text-red-500">*</span></label>
                            <p-select id="type" [options]="materialTypes" [filter]="true"
                                [(ngModel)]="material.materialType" optionLabel="name" optionValue="value"
                                placeholder="Chọn loại giáo trình" class="w-full" appendTo="body" [disabled]="isDetail">
                                <ng-template let-materialType pTemplate="item">
                                    {{ materialType.name.length > 30 ? (materialType.name | slice:0:30) + '...' :
                                    materialType.name }}
                                </ng-template>
                                <ng-template let-selectedMaterialType pTemplate="selectedItem">
                                    {{ selectedMaterialType?.name.length > 20 ? (selectedMaterialType.name |
                                    slice:0:20) + '...' : selectedMaterialType.name }}
                                </ng-template>
                            </p-select>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="publishedDate">Năm xuất bản giáo trình <span
                                    class="text-red-500">*</span></label>
                            <p-datepicker id="publishedDate" [(ngModel)]="material.publishedDate" class="w-full"
                                [showIcon]="true" appendTo="body" placeholder="Nhập năm xuất bản" [disabled]="isDetail"></p-datepicker>
                        </div>
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="isbn">ISBN <span class="text-red-500">*</span></label>
                            <input id="isbn" type="text" pInputText [(ngModel)]="material.isbn" class="w-full"
                                placeholder="Nhập ISBN" [disabled]="isDetail"/>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="edition">Sách gốc <span class="text-red-500">*</span></label>
                            <input id="edition" type="text" pInputText [(ngModel)]="material.edition" class="w-full"
                                placeholder="Nhập sách gốc" [disabled]="isDetail"/>
                        </div>
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label for="publisher">Nhà xuất bản sách gốc <span class="text-red-500">*</span></label>
                            <p-autoComplete [(ngModel)]="material.publisher" [suggestions]="filteredPublishersList"
                                (completeMethod)="searchPublisher($event)" fluid placeholder="Nhập tên nhà xuất bản"
                                fluid appendTo="body" [disabled]="isDetail">
                            </p-autoComplete>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-4">
                        <div class="flex flex-col grow basis-0 gap-2">
                            <label>Tác giả <span class="text-red-500">*</span></label>
                            <p-autoComplete [(ngModel)]="authors" [suggestions]="items"
                                (completeMethod)="search($event)" multiple placeholder="Nhập tên tác giả"
                                [typeahead]="false" fluid class="w-full" [disabled]="isDetail"></p-autoComplete>
                        </div>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

    <ng-template pTemplate="footer">
        <div  *ngIf="isDetail == false" class="flex justify-content-end gap-2">
            <button pButton outlined label="Hủy" class="p-button-text" (click)="closeDialog()"></button>
            <button pButton pRipple label="Lưu thay đổi" class="p-button-warning" (click)="save()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<div *ngIf="isLoading" class="overlay-spinner">
    <p-progressSpinner></p-progressSpinner>
</div>